.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  padding: 10px;
}

.App-header {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: edefee;
  background-color: #333333;
  height: 66px;
}

.App-header-max {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: edefee;
}

.App-footer {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: edefee;
  background-color: #333333;
  height: 166px;
}

.App-link {
  text-decoration: none;
  vertical-align: middle;
}

.App-menu-link {
  color: #61dafb;
}

.App-link:hover {
  color: edefee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  background-color: #F4CE14;
  padding: 10px;
}

.App-yellow {
  background-color: #F4CE14;
}

.App-white {
  color: #edefee;
}

.mobile-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
}

.App-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}